/* General styles */
body {
  font-family: Arial, sans-serif;
  margin-bottom: 60px; /* To prevent content overlap with the Now Playing bar */
}


.d-flex1 {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}


/* Featured section */
.featured .card {
  max-width: 400px;
  margin: auto;
}

.featured .card img {
  height: 200px;
  object-fit: cover;
}

/* Now Playing Bar */
.now-playing {
  font-size: 0.9em;
}

.now-playing button {
  margin: 0 5px;
}
